body {
  font-family: 'Poppins', sans-serif;
  background-color: #0b0c10;
  color: #c5c6c7;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f2833;
  padding: 20px;
}

nav a {
  color: #66fcf1;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  margin: 50px 20px;
}

h1, h2, h3 {
  color: #45a29e;
}

a {
  color: #66fcf1;
}
